name: Build WPF App

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./BmwDriveRecorderOverlay/BmwDriveRecorderOverlay.csproj

    - name: Build project
      run: dotnet build ./BmwDriveRecorderOverlay/BmwDriveRecorderOverlay.csproj -c Release

    - name: Publish single-file exe
      run: dotnet publish ./BmwDriveRecorderOverlay/BmwDriveRecorderOverlay.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true -o ./publish


    - name: Upload exe artifact
      uses: actions/upload-artifact@v4
      with:
        name: BMW-Drive-Recorder-Overlay-Exe
        path: ./publish
