name: Build WPF App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.0' # change to your .NET version

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --configuration Release

    - name: Publish WPF exe
      run: dotnet publish BmwDriveRecorderOverlay.slnx -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true /p:PublishTrimmed=true -o ./publish

    - name: Upload exe artifact
      uses: actions/upload-artifact@v3
      with:
        name: BMW-Drive-Recorder-Overlay-App
        path: ./publish
